
/* Navbar */
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.5rem;
  font-family: 'Montserrat:light', sans-serif;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

/* Title section */
#title {
  background-color: #ff4c68;
  color: #fff;
}

.cs{
  text-align: center;
  font-size: 3.5rem;
  margin: auto;
  padding-top: 15%;
}

/* Footer section */
#footer{
  background-color: #ef8172;
  text-align: center;
}

.social-icons{
  padding-top:4%;
  padding-bottom: 1%;
}

.social-icons-row{
  margin:0 1% ;
  color: #563d7c;
}

.social-icons-row:hover{
  color: #fff;
}


.cr{
  color: #fff;
}

#solarchp{
  
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 10%;
    background-color: #fff;

}

#aws-solarch{
padding-top: 5%;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 0%;
}



#dev-associate{
  
  text-align: center;
  font-size: 1.5rem;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 10%;
  background-color:#e5e5e5;

}

