html {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* Navbar */
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.5rem;
  font-family: 'Montserrat:light', sans-serif;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.connect_vasan {
  text-align: center;
  font-size: 3.5rem;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: #fff;
}

/* Footer section */
#footer {
  background-color: #ef8172;
  text-align: center;
}

.social-icons {
  padding-top: 4%;
  padding-bottom: 1%;
}

.social-icons-row {
  margin: 0 1%;
  color: #563d7c;
}

.social-icons-row:hover {
  color: #fff;
}

.cr {
  color: #fff;
}

.title_h1 {
  padding: 4% 4% 7% 10%;
  font-size: 3rem;
  text-align: center;
  font-family: 'Ubuntu';
}

/* title-image */
.title-image {
  width: 60%;
  transform: rotate(0deg);
  position: absolute;
  right: 20%;
  z-index: 0;
}

.title-colright {
  padding-right: 0;
}

/* Setions */
/* Title section */
#title {
  background-color: #4e89ae;
  color: #fff;
}

/* About instructor */
#about-instructor {
  background-color: #f6f6f6;
}

#skills {
  background-color: #023047;
}

.edu_h1 {
  padding: 13% 1% 10% 10%;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Ubuntu';
  color: #00416d;
}

.cert_h1 {
  padding: 13% 1% 10% 10%;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Ubuntu';
  color: #00416d;
}

.skills_col{
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
}

.p_skills{
  text-align: center;
    font-family: 'Ubuntu';
    color: #ffffff;
      font-size: 1.5rem;
}

.skill_h1{
  padding-top: 3%;
  color: #ffffff;
}
.skill_title{
  margin: auto;
  text-align: center;
    color: #00416d;
}



.connect_h1{
padding-top: 4%;
padding-bottom: 4%;
}


@media (max-width: 995px) {
  .title-image{

    position:relative;
    text-align: center;
    margin-left: 10%;
  }
}
